<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="css/home.css">
    <title>Home</title>
</head>
<body style="background-color: #7DBB5B;">
      <table>
      <thead>
        <tr>
          <th>NAME</th>
          <th>EMAIL</th>
          <th>ORDERS</th>
          <th>VIEW DETAILS</th>
        </tr>
      <thead>
      <tbody>
        {{#each users}}
        <tr>
          <td>{{user_name}}</td>
          <td>{{user_email}}</td>
          <td>{{total_orders}}</td>
          <td><a href="./details?user_id={{user_id}}">LINK</a></td>
        </tr>
        {{/each}}
      </tbody>
    <table/>
</body>
</html>